
.content{
    position: absolute;bottom: 0;left: 0;right: 0;
    .cardDv{
        width: 80%;display: flex;align-items: center;justify-content: left;padding: 10px;
    }
}

.card{
    display: inline-flex;align-items: center;justify-content: center;width: 7.7%;height: 20vh;background: #fff;position: relative;transition: ease all .3s;margin-left: -4%;    border-radius: 4px;box-shadow: 0 0 7px #015d344d;
    // background: linear-gradient(52deg, white 48%, rgba(5, 211, 121, 0.12) 50%, white 48%), #fff;
    .info{
        position: absolute;top: 5px;left: 5px;pointer-events:none;
        p{
            margin: 0;font-size: 16px;font-weight: 500;color: #bd1818;line-height: 0.8;text-align: center;text-shadow: 2px 2px #00000033;
            span{display: block;font-size: 17px;font-weight: 500;margin-top: 1px;text-shadow: 2px 2px #00000033;}
        }
        &.bottom{
            top: unset;left: unset;bottom: 5px;right: 5px;transform: rotate(180deg);
        }
    }
    .trum{
        color: #bd1818;text-shadow: 2px 2px #00000033;font-size: 6vw;pointer-events:none;position: relative;
        &:before{content: '';position: absolute;bottom: 0;right: 0;background: #ffffff0d;width: 60%;height: 60%;border-radius: 20px 0 0 0;}
    }
    &:nth-child(1){margin-left: 0;}
}