<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
</ion-content> -->
<!-- trums
♥ 
♠ Spades
♦ Diamond
♣ Club
-->
<div class="content">
  <div class="cardDv">
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
      <div class="trum">♥</div>
      <div class="info bottom">
        <p>
          A
          <span>♥</span>
        </p>
      </div>
    </div>
  </div>
</div>
