<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4.5"></ion-col>
      <ion-col size="3" class="playerInfo other">
        <div class="playerInfo">
          <ion-avatar>
            <img src="../../assets/img/p1.jpeg" />
          </ion-avatar>
          <h6>David Xavier</h6>
          <div class="cardDv">
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="4.5"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="other">
        <div class="playerInfo">
          <ion-avatar>
            <img src="../../assets/img/p1.jpeg" />
          </ion-avatar>
          <h6>David Xavier</h6>
          <div class="cardDv">
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" class="table">
        <h1>Game Name</h1>
      </ion-col>
      <ion-col size="3" class="other">
        <div class="playerInfo">
          <ion-avatar>
            <img src="../../assets/img/p1.jpeg" />
          </ion-avatar>
          <h6>David Xavier</h6>
          <div class="cardDv">
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
              <div class="trum">♥</div>
              <div class="info bottom">
                <p>
                  A
                  <span>♥</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <div class="playerInfo">
          <ion-avatar>
            <img src="../../assets/img/p1.jpeg" />
          </ion-avatar>
          <h6>David Xavier</h6>
        </div>
      </ion-col>
      <ion-col>
        <div class="cardDv">
          <div class="card" id="{{'card'+i}}"  (click)="click(item,'card'+i+'')" (swipe)="swipe($event,item,'card'+i+'')" [ngClass]="[item.selected?'selected':'',item.isTrum?'trumCard':'']" *ngFor="let item of card;let i = index">
            <div class="info">
              <p>
                {{item.title}}
                <span>♥</span>
              </p>
            </div>
            <div class="trum">♥</div>
            <div class="info bottom">
              <p>
                {{item.title}}
                <span>♥</span>
              </p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
