$redColor : #bd1818;
$blackColor : #000;

ion-content{
    height: 100vh;position: relative;width: 100vw;--background:none;--overflow:hidden;
    ion-grid{
        padding: 0;
        ion-row{
            height: 33.33vh;
            ion-col{
                position: relative;display: flex;align-items: center;
                .cardDv{width: 100%;display: flex;align-items: center;justify-content: left;padding: 10px;}
                .card{
                    cursor:pointer;display: inline-flex;align-items: center;justify-content: center;width: 9%;height: 20vh;background: #fff;position: relative;transition: ease all .3s;margin-left: -4%;    border-radius: 4px;box-shadow: 0 0 7px #015d3480;
                    .info{
                        position: absolute;top: 5px;left: 2px;pointer-events:none;
                        p{
                            margin: 0;font-size: 14px;font-weight: 500;color: $redColor;line-height: 0.8;text-align: center;
                            span{display: block;font-size: 14px;font-weight: 500;margin-top: 1px;}
                        }
                        &.bottom{
                            top: unset;left: unset;bottom: 5px;right: 5px;transform: rotate(180deg);
                        }
                    }
                    .trum{
                        color: $redColor;text-shadow: 2px 2px #00000033;font-size: 6vw;pointer-events:none;position: relative;
                        &:before{content: '';position: absolute;bottom: 0;right: 0;background: #ffffff0d;width: 60%;height: 60%;border-radius: 20px 0 0 0;}
                    }
                    .info,.trum{
                        &::selection{background: none;}
                    }
                    &:nth-child(1){margin-left: 0 !important;}
                    &.trumCard{background: linear-gradient(rgba(0, 128, 0, 0.5),rgba(0, 128, 0, .5)),#fff;}
                    &.selected{position: relative;bottom: 10px;}
                }
                .playerInfo{
                    max-width: 60%;margin: 0 auto 10px;
                    ion-avatar{margin: auto;width: 60px;height: 60px;}
                    h6{margin: 5px auto;text-align: center;color: #fff;font-weight: 400;font-size: 16px;}
                }
                &.other{
                    .cardDv{
                        position: relative;z-index: -1;visibility: hidden;
                        .card{position: absolute;bottom: 100%;max-width: 70px;max-height: 100px;width: 100%;margin-left: 0;}
                    }
                }
                &.table{
                    box-shadow: 0 0 10px #ffffff4d;border-radius: 10vw;background: #005028;display: flex;align-items:center;
                    h1{margin: 0 auto;font-size: 2.5vw;font-weight: 500;letter-spacing: 1px;color: #fffc;text-shadow: 3px 2px 2px #000;}
                }
            }
            &:nth-child(3){display: flex;align-items: flex-end;}
            &:nth-child(2){
                ion-col{
                    .playerInfo{
                        margin: 0 auto 0 0;
                    }
                    &.other{
                        .cardDv .card{left: 15px;transform: rotate(270deg);}
                    }
                    &:nth-child(3){
                        .playerInfo{
                            margin: 0 0 0 auto;
                        }
                        &.other{
                            .cardDv .card{left: unset;right: 15px;transform: rotate(90deg);}
                        }
                    }
                }
            }
            &:nth-child(1){
                ion-col{
                    display: flex;align-items: flex-start;
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    ion-content ion-grid ion-row ion-col .playerInfo{
        h1{font-size: 13px;}
        ion-avatar {width: 45px;height: 45px;}
    }
}

@media screen and (max-width: 900px) and (orientation: landscape){
    ion-content ion-grid ion-row ion-col .cardDv .card {
        height: 19vh;
        .info{
            top: 4px;
            &.bottom{bottom: 4px;}
        }
        .trum{font-size: 5vw;}
    }
}

@media screen and (max-width: 900px) and (orientation: portrait){
    ion-content ion-grid ion-row ion-col{
        &.table{
            border-radius: 2vh;
            h1{font-size: 4vw;}
        }
        &[size="2"]{display: none;}
    }
    ion-content ion-grid ion-row ion-col .cardDv .card {
        height: 13vh;width: 17%;margin-left: -10%;
        .trum{font-size: 12vw;}
    }
}
