<ion-content>
  <div class="playerThree">
    <div class="playerInfo">
      <ion-avatar>
        <img src="../../assets/img/noProfile.png" />
      </ion-avatar>
      <h6>User Name</h6>
      
    <div class="cardDv">
      <div
        class="card"
        id="{{'card'+i}}"
        (click)="click(item,'card'+i+'')"
        (swipe)="swipe($event,item,'card'+i+'')"
        [ngClass]="[item.selected?'selected':'',item.thrown?'throw':'',item.isTrum?'trumCard':'']"
        *ngFor="let item of card;let i = index"
      >
        <div class="info">
          <p>
            {{item.title}}
            <span>♥</span>
          </p>
        </div>
        <div class="trum">♥</div>
        <div class="info bottom">
          <p>
            {{item.title}}
            <span>♥</span>
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="playerFour">
    <div class="playerInfo">
      <ion-avatar>
        <img src="../../assets/img/noProfile.png" />
      </ion-avatar>
      <h6>User Name</h6>
    <div class="cardDv">
      <div
        class="card"
        id="{{'card'+i}}"
        (click)="click(item,'card'+i+'')"
        (swipe)="swipe($event,item,'card'+i+'')"
        [ngClass]="[item.selected?'selected':'',item.thrown?'throw':'',item.isTrum?'trumCard':'']"
        *ngFor="let item of card;let i = index"
      >
        <div class="info">
          <p>
            {{item.title}}
            <span>♥</span>
          </p>
        </div>
        <div class="trum">♥</div>
        <div class="info bottom">
          <p>
            {{item.title}}
            <span>♥</span>
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="table">
    <div class="gameDefault">
      <h1>Game Name</h1>
      <button>Set Trum</button>
    </div>
    <div class="card" id="cardOne">1
    </div>
    <div class="card" id="cardTwo">2
    </div>
    <div class="card" id="cardThree">3
    </div>
    <div class="card" id="cardFour">4
    </div>
  </div>
  <div class="playerTwo">
    <div class="playerInfo">
      <ion-avatar>
        <img src="../../assets/img/noProfile.png" />
      </ion-avatar>
      <h6>User Name</h6>
      <div class="cardDv">
        <div
          class="card"
          id="{{'card'+i}}"
          (click)="click(item,'card'+i+'')"
          (swipe)="swipe($event,item,'card'+i+'')"
          [ngClass]="[item.selected?'selected':'',item.thrown?'throw':'',item.isTrum?'trumCard':'']"
          *ngFor="let item of card;let i = index"
        >
          <div class="info">
            <p>
              {{item.title}}
              <span>♥</span>
            </p>
          </div>
          <div class="trum">♥</div>
          <div class="info bottom">
            <p>
              {{item.title}}
              <span>♥</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="playerOne">
    <div class="playerInfo">
      <ion-avatar>
        <img src="../../assets/img/noProfile.png" />
      </ion-avatar>
      <h6>User Name</h6>
    </div>
    <div class="cardDv">
      <div
        class="card"
        id="{{'card'+i}}"
        (click)="click(item,'card'+i+'')"
        (swipe)="swipe($event,item,'card'+i+'')"
        [ngClass]="[item.selected?'selected':'',item.thrown?'throw':'',item.isTrum?'trumCard':'']"
        *ngFor="let item of card;let i = index"
      >
        <div class="info">
          <p>
            {{item.title}}
            <span>♥</span>
          </p>
        </div>
        <div class="trum">♥</div>
        <div class="info bottom">
          <p>
            {{item.title}}
            <span>♥</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
