$redColor : #bd1818;
$blackColor : #000;

ion-content{
    height: 100vh;position: relative;width: 100vw;--background:none;--overflow:hidden;
    .cardDv{display: flex;align-items: center;justify-content: center;padding: 10px;height: 20vh}
    .card{
        cursor:pointer;display: inline-flex;align-items: center;justify-content: center;width: 12%;height: 20vh;background: #fff;position: relative;transition: ease all .3s;margin-left: -7%;border-radius: 4px;box-shadow: 0 0 7px #015d3480;
        .info{
            position: absolute;top: 5px;left: 2px;pointer-events:none;
            p{
                margin: 0;font-size: 14px;font-weight: 500;color: $redColor;line-height: 0.8;text-align: center;
                span{display: block;font-size: 14px;font-weight: 500;margin-top: 1px;}
            }
            &.bottom{
                top: unset;left: unset;bottom: 5px;right: 5px;transform: rotate(180deg);
            }
        }
        .trum{
            color: $redColor;text-shadow: 2px 2px #00000033;font-size: 4vw;pointer-events:none;position: relative;
            &:before{content: '';position: absolute;bottom: 0;right: 0;background: #ffffff0d;width: 60%;height: 60%;border-radius: 20px 0 0 0;}
        }
        .info,.trum{
            &::selection{background: none;}
        }
        &:nth-child(1){margin-left: 0;}
        &.trumCard{
            background: linear-gradient(#8BC34A, #8BC34A), #fff;
            .trum:before{content: none;}
        }
        &.selected{position: relative;bottom: 10px;}
    }
    .playerInfo{
        margin: 0 auto 10px;position: relative;
        ion-avatar{margin: auto;width: 60px;height: 60px;}
        h6{margin: 5px auto;text-align: center;color: #fff;font-weight: 400;font-size: 16px;}
    }
    .playerThree{
        position: absolute;left: 0;right: 0;top: 10px;max-width: 15vw;margin: auto;max-height: 20vh;
        .cardDv{transform: rotate(180deg);position: absolute;top: 0;left: 0;right: 0;}
    }
    .playerTwo{
        position: absolute;right: 0;top: 0;bottom: 0;max-width: 15vw;margin: auto;max-height: 20vh;
        .cardDv{transform: rotate(90deg);position: absolute;left: 0;top: 0;}
    }
    .playerFour{
        position: absolute;left: 0;top: 0;bottom: 0;max-width: 15vw;margin: auto;max-height: 20vh;
        .cardDv{transform: rotate(270deg);position: absolute;right: 0;top: 0;}
    }
    .playerOne{
        position: absolute;bottom: 0;left: 0;width: 100vw;display: flex;align-items: center;
        .playerInfo{flex: 0 0 15%;margin: 0 auto 10px 0;}
        .cardDv{position: absolute;bottom: 10px;left: 20vw;right: 20vw;}
    }
    .playerTwo,.playerThree,.playerFour{
        .cardDv{
            z-index: -1;visibility: hidden;
            .card{position: absolute;max-height: 10vw;width: 14vh;margin-left: 0;}
        }
    }
    .table{
        box-shadow: 0 0 24px #ffffff3d;border-radius: 10vw;background: #125c01;display: flex;align-items: center;margin: auto;height: 40vh;position: absolute;top: 0;bottom: 0;right: 20vw;left: 20vw;
        .gameDefault{
            margin: auto;text-align: center;
            h1{margin: 0 auto;font-size: 2.5vw;font-weight: 500;letter-spacing: 1px;color: #fffc;text-shadow: 3px 2px 2px #000;}
            button{background: url(../../assets/img/button.jpeg);background-size: 100%;color: #fff;font-size: 14px;font-weight: 400;padding: 4px 12px;border-radius: 22px;outline: none;}
        }
        .card{
            position: absolute;margin: auto;width: 65px;height: 85px;
            &#cardOne{bottom: 3vh;left: 0;right: 0;}
            &#cardTwo{right: 20vw;transform: rotate(90deg);}
            &#cardThree{top: 6vh;left:0;right:0;transform: rotate(180deg);}
            &#cardFour{left: 20vw;transform: rotate(270deg);}
        }
    }
}
           

@media screen and (max-width: 900px){
    ion-content{
        .playerInfo{
            ion-avatar {width: 45px;height: 45px;}
            h6{font-size: 13px;}    
        }
        .table .card{width: 45px;height: 60px;}
    } 
}

@media screen and (max-width: 900px) and (orientation: landscape){
    ion-content{
        .card {
            height: 19vh;
            .info{
                top: 4px;
                &.bottom{bottom: 4px;}
            }
        }
    }
}

@media screen and (max-width: 900px) and (orientation: portrait){
    ion-content{
        .table{
            border-radius: 30vw;height: 50vh;
            h1{font-size: 4vw;}
            .card{
                .trum{font-size: 7vw;}
                .info p{
                    font-size: 12px;
                    span{font-size: 12px;}
                }
                &#cardOne{bottom: 14vh;}
                &#cardTwo{right: 14vw;}
                &#cardThree{top: 15vh;}
                &#cardFour{left: 15vw;}
            }
        }
        .playerOne{
           .playerInfo{display: none;}
           .cardDv{left: 10px;right: 10px;}
        } 
        .card {
            height: 13vh;width: 17%;margin-left: -10%;
            .trum{font-size: 12vw;}
            .throw{height: 24%;}
        }
        .playerTwo,.playerThree,.playerFour{
            .cardDv{
                .card{ max-height: 19vw;width: 8vh;}
            }
        }
    }
}

@media screen and (min-width: 1200px){
    ion-content{
        .table .card{
            &#cardTwo{right: 23vw;}
            &#cardFour{left: 23vw;}
        }
    }
}