 <ion-header>
   <ion-row>
        <ion-col class="first" size="6" align-self-center>
            <i><</i>
            <div class="pointsDv"><ion-icon name="snow"></ion-icon> | 94,520 <ion-icon mode="ios" name="add"></ion-icon>
            </div>
        </ion-col>
        <ion-col size="6" class="last"  align-self-center>
            <div class="trum"><span>♥</span></div>
            <ion-icon name="mail" mode="ios"></ion-icon>
            <ion-icon name="people" mode="ios"></ion-icon>
        </ion-col>
    </ion-row>
</ion-header> 

<ion-content no-bounce>
    <ion-grid>
        <ion-row class="row1">
            <ion-col size="4"></ion-col>
            <ion-col size="4" class="center">
                <ion-avatar>
                    <img src="../../assets/img/p1.jpeg">
                </ion-avatar>
                <p>Player 3</p>
                <ion-row class="cardsDv otherCards">
                    <ion-col class="card" id="otherCard" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row class="row1">
            <ion-col size="4" class="left">
                <ion-avatar>
                    <img src="../../assets/img/p1.jpeg">
                </ion-avatar>
                <p>Player 4</p>
                <ion-row class="cardsDv otherCards">
                    <ion-col class="card" id="otherCard" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="4"></ion-col>
            <ion-col size="4" align-items-center class="right">
                <ion-avatar>
                    <img src="../../assets/img/p1.jpeg">
                </ion-avatar>
                <p>Player 2</p>
                <ion-row class="cardsDv otherCards">
                    <ion-col class="card" id="otherCard" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="row1" align-items-end>
            <ion-col class="myProfile center" size="2">
                <ion-avatar>
                    <img src="../../assets/img/p1.jpeg">
                </ion-avatar>
                <p>Player 1</p>
            </ion-col>
            <ion-col  class="cards" align-items-center>
                <!-- <div class="cardsDv">
                    <div class="card card1">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                    <div class="card">
                        <img src="../../assets/cards/02a.png">
                    </div>
                </div> -->
                <ion-row class="cardsDv">
                    <ion-col class="card" id="myCard" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                    <ion-col class="card" size="0.9230769230769231"><img src="../../assets/cards/02a.png"></ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>