ion-header {
    height: 8vh;
    background-color: transparent;
    background: none;
    ion-row{
        ion-col{
            transition: linear all .2s;
            &.last{
                text-align: end;
                .trum{
                    background: #fff;vertical-align: middle;display: inline-block;font-size: 30px;text-align: center;width: 35px;color: red;border-radius: 8px;margin-right: 3px;
                    .animate{transform: rotateY(180deg);transition: 2s all ease-in;}
                }
                ion-icon{background: #2eb375;display: inline-block;font-size: 30px;text-align: center;width: 35px;border-radius: 6px;margin: 0 2px;border: 2px solid #fff;vertical-align: middle;color: #fff;}
            }
            &.first{
                text-align: left;
                display: inline-flex;
                i{background: #2eb375;font-size: 24px;text-align: center;width: 24px;border-radius: 6px;margin: 0 2px;border: 2px solid #fff;vertical-align: middle;color: #fff;}
                .pointsDv{display: flex;background: #2eb375;border: 1px solid #fff;color: #fff;padding: 6px 2px;border-radius: 7px;margin-left: 3px;font-size: 13px;}
            }
        }
    }
}

.header-md:after{content: none;}

ion-content {
    height: calc(100vh - 8vh);
    --background: none;
    --background-color: transparent;
    --overflow: hidden;
    ion-grid {
        padding: 0;
        margin: 0;
        ion-row {
            padding: 0;
            margin: 0;
            &.row1 {
                height: 30.66666666666667vh;
            }
            &.otherCards{max-width: 100%!important;}
            ion-col {
                padding: 0;
                margin: 0;
                p{color: #fff;word-break: keep-all;margin: 5px auto 20px;font-weight: 300;text-overflow: ellipsis;overflow: hidden;width: 55%;}
                ion-avatar{img{object-fit: fill;}}
                &.left{
                    text-align: left;padding-left:10px;
                    ion-avatar{margin-right: auto;}
                    p{margin: 5px 0 0;}
                    .otherCards{
                        display: none;position: absolute;top: 0;left: 0;right: 0;
                        .card{position: absolute;left:10px;max-width: 100% !important;}
                    }    
                }
                &.right{
                    text-align: right;padding-right:10px;
                    ion-avatar{margin-left: auto;}
                    p{margin: 5px 0 0 auto;}
                    .otherCards{
                        display: none;position: absolute;top: 0;left: 0;right: 0;
                        .card{position: absolute;right:10px;max-width: 100% !important;}
                    }    
                }
                &.center{
                    text-align: center;
                    ion-avatar{margin: 0 auto;}
                    .otherCards{
                        display: none;position: absolute;top: 0;left: 0;right: 0;
                        .card{position: absolute;max-width: 100% !important;}
                    }    
                }
                &.cards{padding-bottom: 6px;}
            }
        }
    }
}

.cardsDv{
    margin-bottom: 10px;justify-content: center;
    .card{
        padding: 0;margin:0;max-width: 100%;transition:all 0.5s ease;/*margin-left: -25px;*/
        :hover{transform: scale(1.05,1.05);box-shadow: 1px 1px 7px rgba(0,0,0,0.9);}
        // &.card1{margin-left: 0;}
        &.active{transform: scale(1.05,1.05);box-shadow: 1px 1px 7px rgba(0,0,0,0.9);}
        &.cardThrow{transition-duration: 2s; transition-delay: 0s; animation-name: cardThrow;animation-duration: 2s;}
    }
    &.otherCards{width: 100vw;}
}

@keyframes cardThrow{
    0%   {-webkit-transform: rotateX(0deg);}
    100%  {-webkit-transform: rotateX(360deg);}
}

@media screen and (max-width:767px) {
    .myProfile {
        display: none;
    }
    ion-header ion-row ion-col{
        &.last{
            ion-icon,.trum{font-size: 30px;width: 30px;border-radius: 6px;}
        }
    }
}
@media screen and (max-width:380px){
    ion-content ion-grid ion-row ion-col
    {
        ion-avatar{width: 40%;height: 25%;}
        p{font-size: 13px;}
    }       
}

@media screen and (orientation:landscape) and (max-width:767px){
    ion-content ion-grid ion-row ion-col
    {
        ion-avatar{width: 20%;height: 32%;}
        p{font-size: 13px;}
    } 
}